body {
font-family: 'Courier New', Courier, monospace;
   background-color:cadetblue;
   /* color: white; */
}

/* :root{

} */
* {
   margin: 0px;
}

.conatiner {
   max-width: 1280px;
   margin: 0 auto;
}

.main-container {
   display: flex;
   justify-content: end;
   flex-direction: column;
   
   height: calc(100vh-72px);
}


